<%- include("partials/header"); -%>
<!-- Start: Main Wrapper -->
<div class="d-flex align-items-center main-wrapper flex-fill">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-7 text-center text-md-left d-flex justify-content-center align-items-center">
                <!-- Start: Info Wrapper -->
                <div>
                    <h1 class="display-3">Chicken Breast</h1>
                    <p class="lead"><%= subtitle %><br></p>
                    <p>Fun Fact: <%= funFact %><br></p>
                    <div class="btn-group d-flex flex-column flex-lg-row" role="group" style="margin: 0px;margin-right: 0px;">
                        <a class="btn btn-outline-primary" role="button" style="margin: 5px;margin-right: 5px;margin-left: 5px;" href="https://www.benswildlifereserve.xyz/store.html" target="_blank">Order Chicken Breasts</a>
                        <a class="btn btn-primary" role="button" style="margin: 5px;margin-right: 5px;margin-left: 5px;" href=<%= recipeOfTheDay %> target="_blank">Recipe of the Day</a></div>
                </div><!-- End: Info Wrapper -->
            </div>
            <div class="col-12 col-md-6 col-lg-5 d-none d-md-flex justify-content-center align-items-center">
                <!-- Start: Image Wrapper -->
                <div><img class="img-fluid" src="/img/undraw_diet_ghvw.svg"></div><!-- End: Image Wrapper -->
            </div>
        </div>
    </div>
</div><!-- End: Main Wrapper -->
<%- include("partials/footer"); -%>